body {
    /* font-family: "Alumni Sans Pinstripe", serif; */
    font-family: "Jura", serif;
}

model-viewer::part(default-progress-bar) {
    display: none;
}

/* ---- HERO ---- */
.hero {
    background-image: url('assets/item3.webp');
    background-size: contain;
    background-repeat: no-repeat;    
}

@media (min-width: 768px) {
    .hero {
        background-image: url('assets/item1.webp');
    }
}

.hero a {
    background-color: #ff8500;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.fade-in-delay {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s;
}

.fade-in-delay-2 {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.explore {
    background-image: url('assets/item3.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    transform: scaleX(-1);
}

.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(40, end) forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

footer {
    background-image: url('assets/item2.webp');
    background-size: contain;
    background-repeat: no-repeat;   
}