


model-viewer::part(default-progress-bar) {
    display: none;
}

.hero {
    background-image: url('assets/item1.webp');
    background-size: contain;
    background-repeat: no-repeat;    
}

.explore {
    background-image: url('assets/item3.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    transform: scaleX(-1);
}

.explore .typing-effect {
    transform: scaleX(-1); /* Flip the text back to normal */
}

.explore model-viewer {
    transform: translateX(-50%) translateY(-50%) scaleX(-1); /* Keep model-viewer centered but flip it back */
}

.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(40, end) forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

footer {
    background-image: url('assets/item2.webp');
    background-size: contain;
    background-repeat: no-repeat;   
}